.mainComp{
    width: 90%!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    max-width: 990px!important;
    margin-top: 25px!important;
    margin-bottom: 25px!important;
    align-content: center!important;
}

.btnpro{
    display: flex;
    width: 100%;
    flex-direction: row;
}