.navbar{
    background-color: #ff0000 ;
}

.mr-2{
    border: none!important;
    color: transparent!important;
    margin-right: 0px;
    width: 85px;
}

.navbar-toggler-icon{
    background-image: url(../../imgs/menubutton.png)!important;
    border: none!important;

}
img{
    height: 50px;
    margin-top: -25px;
}
.mr-auto{
    height: 3vh;
}

